Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js,ts,svelte}": "eslint",
    "*.{css,scss,postcss,md,json}": "prettier --write"
}

Deploying to gh-pages from @ orefalo/svelte-splitpanes@0da600a9bcd93a38a21b94972726edf6e78c0e65 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-6c4c2e08.js
  docs/_app/immutable/start-989e2de3.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: git hook for commitlint
  .husky/commit-msg
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@009616873e2a7d503aa32909dfb4ae22afad03c5 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-346a8b30.js
  docs/_app/immutable/start-989e2de3.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: perform lint-staged and svelte-check as part of \`npm run commit\`
  package.json
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@19d5718f575675002f1dda84e772c68d84a25a0b 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-346a8b30.js
  docs/_app/immutable/start-4c38053a.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: trying release-please
  .github/workflows/release-please.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@10840908753e6e2a2916bc0762ab44b02c286e3d 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-4c38053a.js
  docs/_app/immutable/start-56adb784.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: fix release-please workflow, to work on master branch
  .github/workflows/release-please.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@c0f3c4ebf220d349be33ee6ba2f1596218b0895c 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-56adb784.js
  docs/_app/immutable/start-cc42706d.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

fix: snap with multiple panes
  src/lib/Splitpanes.svelte
Due: eslint

docs: snap examples & readme
  README.md
  src/comp/MiddleSnap.svelte
  src/comp/MinMax.svelte
  src/comp/MinMaxSnap.svelte
  src/comp/SimpleSnap.svelte
  src/routes/index.svelte
Due: eslint, prettier --write

fix: improved snap, fixed bug
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
Due: eslint

fix: readd panes push
  src/lib/Splitpanes.svelte
Due: eslint

feat: add snap
  README.md
  src/comp/MinMax.svelte
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
  src/lib/index.ts
Due: eslint, prettier --write

:recycle: refactor: fix linting
  src/comp/MiddleSnap.svelte
  src/comp/MinMax.svelte
  src/comp/MinMaxSnap.svelte
  src/comp/SimpleSnap.svelte
  src/lib/Splitpanes.svelte
  src/routes/index.svelte
Due: eslint

:construction: wip: fix snapping to not try to get to the maximum
  src/lib/Splitpanes.svelte
Due: eslint

:memo: docs: change hightlighting syntax in README.md from \`html\` to \`svelte\`
  README.md
Due: prettier --write

:memo: docs: update in README.md the build and the development process
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@0bd250f8a3ca0cebd5e9a274410e96c021a9a3ad 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-2578e916.js
  docs/_app/immutable/start-cc42706d.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:green_heart: ci: prevent running release-please workflow on forks
  .github/workflows/release-please.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@83134907ccba4a63f6d362dd7dab7d4cbc7abdb9 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-2578e916.js
  docs/_app/immutable/start-d9cdc1fc.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:construction: wip: fix snap to be only to the minimum direction, and perdorm a hack to fix snap&push bug
  README.md
  src/lib/Splitpanes.svelte
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@2a3461026060d32d3960c09c22e1510396292b43 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-03c73d9e.js
  docs/_app/immutable/start-d9cdc1fc.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@4294898aab08023004b619e0a416489cd25be618 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-03c73d9e.js
  docs/_app/immutable/start-e5e827b1.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@699e233369c293bb4015ef13510ff5d40fc07f3f 🚀
  docs/_app/immutable/chunks/Pane-d1d697c6.js
  docs/_app/immutable/chunks/Pane-deb98085.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-a3e0c7e9.js
  docs/_app/immutable/pages/index.svelte-c91b67bf.js
  docs/_app/immutable/pages/test.svelte-43f09806.js
  docs/_app/immutable/pages/test.svelte-5b8ada6f.js
  docs/_app/immutable/start-b5f1525d.js
  docs/_app/immutable/start-e5e827b1.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

Create README.md on `gh-pages` for warning and description
  README.md
Due: prettier --write

:bug: fix: fix issue with the body cursor on and when leaving dragging
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@651b6b083dd486093386714c0d8c2c44b7310ba8 🚀
  docs/_app/immutable/chunks/Pane-be740389.js
  docs/_app/immutable/chunks/Pane-d1d697c6.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-47c38a56.js
  docs/_app/immutable/pages/test.svelte-43f09806.js
  docs/_app/immutable/pages/test.svelte-4c6507a6.js
  docs/_app/immutable/start-53e5dc32.js
  docs/_app/immutable/start-b5f1525d.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: make sure the line ending is in LF format (/n), for linting consistency
  .gitattributes
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@7c52af52aca3d02ef1e38832872a487064d7acf2 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-53e5dc32.js
  docs/_app/immutable/start-beb07189.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: update feature lists & CHANGELOG.md
  CHANGELOG.md
  README.md
  src/routes/index.svelte
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@9ec7d63b10bd2ce2075ed5161d01fddb89615263 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-27bdc15d.js
  docs/_app/immutable/pages/index.svelte-47c38a56.js
  docs/_app/immutable/start-82efb579.js
  docs/_app/immutable/start-beb07189.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@c4d90e1874d796f98b94a76096132f12f8a50bce 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-71cfef51.js
  docs/_app/immutable/start-82efb579.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:sparkles: feat: sizes are now numbers, and allow the possibility of data binding on the size
  src/comp/AddRemoveSplitter.svelte
  src/comp/ChangeOrientation.svelte
  src/comp/DefaultSize.svelte
  src/comp/ListenToEvents.svelte
  src/comp/MiddleSnap.svelte
  src/comp/MinMax.svelte
  src/comp/MinMaxSnap.svelte
  src/comp/ProgResize.svelte
  src/comp/PushOtherPanes.svelte
  src/comp/SimpleSnap.svelte
  src/comp/StyleSplittersModern.svelte
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
  src/lib/index.ts
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@f40cc560ff09bca5c899008327aa7c08f3c8b211 🚀
  docs/_app/immutable/chunks/Pane-bb30ca01.js
  docs/_app/immutable/chunks/Pane-be740389.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-27bdc15d.js
  docs/_app/immutable/pages/index.svelte-f1d8a832.js
  docs/_app/immutable/pages/test.svelte-4c6507a6.js
  docs/_app/immutable/pages/test.svelte-b494fa1d.js
  docs/_app/immutable/start-1a30440a.js
  docs/_app/immutable/start-71cfef51.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:bug: fix: double slider buttons in Pragrammtic resizeing demo
  src/comp/ProgResize.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@3e8a660211e3e37c0a17437f53e96a42ee2f3c26 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-1411e865.js
  docs/_app/immutable/start-0db7686e.js
  docs/_app/immutable/start-1a30440a.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write
