Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js,ts,svelte}": "eslint",
    "*.{css,scss,postcss,md,json}": "prettier --write"
}

docs: fix readme typos
  README.md
Due: prettier --write

docs: add import statements to sample code pages
  .eslintrc.cjs
  src/routes/examples/add-remove-splitter/+page.svelte
  src/routes/examples/change-orientation/+page.svelte
  src/routes/examples/default-size/+page.svelte
  src/routes/examples/listen-to-events/+page.svelte
  src/routes/examples/lock-layout/+page.svelte
  src/routes/examples/min-max/+page.svelte
  src/routes/examples/prog-resize/+page.svelte
  src/routes/examples/push-other-panes/+page.svelte
  src/routes/examples/reordering-splitters/+page.svelte
  src/routes/examples/snap/middle/+page.svelte
  src/routes/examples/snap/min-max/+page.svelte
  src/routes/examples/snap/simple/+page.svelte
  src/routes/examples/styling/splitters-modern/+page.svelte
  src/routes/examples/styling/splitters/+page.svelte
  src/routes/examples/toggle-panes/+page.svelte
Due: eslint

ci: release to Github also the compiled package, and a script to download it and publish to NPM
  .github/workflows/release-please.yml
  README.md
  package.json
  scripts/fetch-and-publish.js
Due: eslint, prettier --write

build: additional info about Release Please howto
  README.md
Due: prettier --write

docs: choose wording better in README
  README.md
Due: prettier --write

docs: add info of manual modification of the changelog
  README.md
Due: prettier --write

docs: fix typo
  README.md
Due: prettier --write

refactor: use 'svelte-splitpanes' as a path alias instead of '\\$lib' also locally
  src/routes/examples/add-remove-splitter/+page.svelte
  src/routes/examples/change-orientation/+page.svelte
  src/routes/examples/default-size/+page.svelte
  src/routes/examples/listen-to-events/+page.svelte
  src/routes/examples/lock-layout/+page.svelte
  src/routes/examples/min-max/+page.svelte
  src/routes/examples/prog-resize/+page.svelte
  src/routes/examples/push-other-panes/+page.svelte
  src/routes/examples/reordering-splitters/+page.svelte
  src/routes/examples/snap/middle/+page.svelte
  src/routes/examples/snap/min-max/+page.svelte
  src/routes/examples/snap/simple/+page.svelte
  src/routes/examples/styling/splitters-modern/+page.svelte
  src/routes/examples/styling/splitters/+page.svelte
  src/routes/examples/toggle-panes/+page.svelte
  src/routes/test/+page.svelte
  tsconfig.json
  vite.config.js
Due: eslint, prettier --write

docs: remove copied code to display
  src/routes/examples/styling/splitters-modern/+page.svelte
Due: eslint

chore: deps and version
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: read version from package.json, revert pkg version, update readme
  README.md
  package.json
  scripts/fetch-and-publish.js
Due: eslint, prettier --write

chore: add OTP to fetch-and-publish, fix README
  README.md
  scripts/fetch-and-publish.js
  tsconfig.json
Due: eslint, prettier --write

docs: remove version=3.48.0 from REPL link
  README.md
Due: prettier --write

fix: ssr issue on partially defined sizes
  src/lib/Pane.svelte
  src/routes/examples/prog-resize/+page.svelte
Due: eslint

build: cache prettier&eslint
  .gitignore
  .lintstagedrc
  package.json
Due: prettier --write

build: run lint-staged only in commit check, no need to svelte-check
  .husky/pre-commit
  package.json
Due: prettier --write

docs: remove the need to run manually \`pnpm format\` from README, and explain better the commit scripting
  README.md
Due: prettier --write

build: fix lintstaged consistency, simply by running first prettier and the eslint on all relevant files
  .lintstagedrc
Due: none

chore: remove the duplicated '/introduction' path
  src/routes/introduction/+page.svelte
Due: eslint

build: run prettier and eslint on more files, not only in 'src/'
  .commitlintrc.cjs
  .cz-config.cjs
  .github/FUNDING.yml
  .github/workflows/ci.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .lintstagedrc
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  svelte.config.js
  tests/addRemoveSplitter.spec.ts
  vite.config.js
Due: eslint, prettier --write

docs: fix README and tsconfig.json, add eslint-markdown to pass validations
  .eslintrc.cjs
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: fix formatter and linter ignorePath
  .eslintrc.cjs
  .prettierignore
  README.md
  package.json
Due: prettier --write

build: ignore the pnpm-lock.yaml file from prettier
  .lintstagedrc
  package.json
Due: prettier --write
