Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js,ts,svelte}": "eslint",
    "*.{css,scss,postcss,md,json}": "prettier --write"
}

:bug: fix: yarn.lock is out of date
  yarn.lock
Due: none

:construction_worker: build: run some pacakge script via node, for Windows OS compatibility.
  package.json
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@32648de5becbdca9204e2d6a2f8c6bc70b7f8f93 🚀
  docs/_app/manifest.json
  docs/_app/start-365c4f48.js
  docs/_app/start-86818ed4.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:construction: wip: first pass of `svelte-check` issues
  src/comp/ListenToEvents.svelte
  src/comp/extras/Button.svelte
  src/comp/extras/Ripple.svelte
  src/comp/extras/TextAreaAutosize.svelte
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@fba822de381d4edef94e7daef317311e95861934 🚀
  docs/_app/chunks/Pane-30a31e35.js
  docs/_app/chunks/Pane-dfd5fd89.js
  docs/_app/manifest.json
  docs/_app/pages/index.svelte-5bb2d4b1.js
  docs/_app/pages/test.svelte-550abb0a.js
  docs/_app/pages/test.svelte-c6507d3a.js
  docs/_app/start-86818ed4.js
  docs/_app/start-9d1e1d44.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:construction_worker: build: qa-tooling: ignore the scope for now
  .cz-config.cjs
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@f872e9263d02bd44669c2861ce66c64d8a874559 🚀
  docs/_app/manifest.json
  docs/_app/start-9d1e1d44.js
  docs/_app/start-a54c3a49.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: add a missing space
  .cz-config.cjs
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@452f3e4c23471a4a572f527f0ae0fa0ef698d19c 🚀
  docs/_app/manifest.json
  docs/_app/start-4660c522.js
  docs/_app/start-a54c3a49.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: add event descriptions to README
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@759fa1d9d476f1372c4a7b18b1ab108d9934d6fd 🚀
  docs/_app/manifest.json
  docs/_app/start-28cfa0a0.js
  docs/_app/start-4660c522.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:bug: fix: with the latest version of svelte, its %sveltekit.
  src/app.html
Due: none

:construction_worker: build: update deps
  package.json
Due: prettier --write

:bug: fix: shouldn't pass the passive parameter in \`removeEventListener\`
  src/lib/Splitpanes.svelte
Due: eslint

:recycle: refactor: fix lint errors
  .eslintrc.cjs
  src/comp/AddRemoveSplitter.svelte
  src/comp/ChangeOrientation.svelte
  src/comp/ListenToEvents.svelte
  src/comp/ProgResize.svelte
  src/comp/TogglePanes.svelte
  src/comp/extras/Ripple.svelte
  src/lib/Splitpanes.svelte
Due: eslint

:bug: fix: fix the clickering cursor once for good
  src/lib/Splitpanes.svelte
Due: eslint

:truck: chore: lockfile issue
  package.json
  yarn-error.log
Due: prettier --write

chore(release): 0.6.12
  CHANGELOG.md
  package.json
Due: prettier --write

:truck: chore: yarn.lock
  .gitignore
  yarn-error.log
  yarn.lock
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@1d64d070cf46f7bddcf5c98c7365eec0dc9a24c9 🚀
  docs/_app/assets/pages/index.svelte-07dd33cb.css
  docs/_app/assets/vendor-f4e6b62f.css
  docs/_app/chunks/Pane-30a31e35.js
  docs/_app/chunks/vendor-a5413b4a.js
  docs/_app/error.svelte-419247d0.js
  docs/_app/immutable/assets/Pane-2369fef4.css
  docs/_app/immutable/assets/pages/__layout.svelte-2d50f436.css
  docs/_app/immutable/assets/pages/index.svelte-0b167244.css
  docs/_app/immutable/chunks/Pane-7440a4b7.js
  docs/_app/immutable/chunks/index-2c56037b.js
  docs/_app/immutable/chunks/index-db724e59.js
  docs/_app/immutable/error.svelte-0d179aeb.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/__layout.svelte-d93c034b.js
  docs/_app/immutable/pages/index.svelte-1e3e329a.js
  docs/_app/immutable/pages/test.svelte-f4e687d8.js
  docs/_app/immutable/start-030d26e1.js
  docs/_app/pages/__layout.svelte-b6dd7bd0.js
  docs/_app/pages/index.svelte-5bb2d4b1.js
  docs/_app/pages/test.svelte-550abb0a.js
  docs/_app/start-28cfa0a0.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: remove the scope section from README as it not usefull now, and not being used.
  README.md
Due: prettier --write

:construction_worker: build: move from yarn to pnpm
  pnpm-lock.yaml
  yarn.lock
Due: none

:construction_worker: build: change workflows to pnpm
  .github/workflows/docs.yml
  .github/workflows/playwright-tests.yml
Due: none

:construction_worker: build: try fixing pnpm workflows
  .github/workflows/docs.yml
  .github/workflows/playwright-tests.yml
Due: none

:construction_worker: build: omit the $lib alias in config, since it is defined automatically by sveltekit now
  svelte.config.js
Due: eslint

:construction_worker: build: comment out (temporary?) vite optimizeDeps for svelte-hightlight, since it cause errors on build.
  svelte.config.js
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@9642be644d9d7af31bc59728c924830a5f4f84ec 🚀
  docs/_app/immutable/chunks/Pane-7440a4b7.js
  docs/_app/immutable/chunks/Pane-deb98085.js
  docs/_app/immutable/chunks/index-6274fd6d.js
  docs/_app/immutable/chunks/index-db724e59.js
  docs/_app/immutable/chunks/index-f048e47e.js
  docs/_app/immutable/error.svelte-0d179aeb.js
  docs/_app/immutable/error.svelte-94f96933.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/__layout.svelte-09d7cbe6.js
  docs/_app/immutable/pages/__layout.svelte-d93c034b.js
  docs/_app/immutable/pages/index.svelte-d541ada5.js
  docs/_app/immutable/pages/test.svelte-5b8ada6f.js
  docs/_app/immutable/pages/test.svelte-f4e687d8.js
  docs/_app/immutable/start-030d26e1.js
  docs/_app/immutable/start-6121005a.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:green_heart: ci: try to make pnpm caching to work
  .github/workflows/docs.yml
  .github/workflows/playwright-tests.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@64c8d85b2fae17ce9638ee728cb7142673656aee 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-36755ffb.js
  docs/_app/immutable/start-6121005a.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: fix spaces to tabs, making some code hightlighting to work
  src/comp/AddRemoveSplitter.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@2803be0944e8b6c9b4d5a05ab710e467c6d854ae 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-a3e0c7e9.js
  docs/_app/immutable/start-36755ffb.js
  docs/_app/immutable/start-7561d115.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: readme updates - explain how to build
  README.md
  svelte.config.js
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@b31c23ac8175ad64195e2071d605bfb8f27aa680 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-7561d115.js
  docs/_app/immutable/start-f2f82d62.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: readme updates
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@eaf2ae495022631c30138fbcc411e7a1d583b3f9 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-dc9ccfa0.js
  docs/_app/immutable/start-f2f82d62.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: fix the issue with the highlight.js optimizedDeps in pnpm
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@5ba751dc581fefd2503e323386b865b8646bf3fa 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-5cf9b1fa.js
  docs/_app/immutable/start-dc9ccfa0.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: add a workflow for code quality
  .github/workflows/code-quality.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@d81e5e5be7576e7e875b576615e24e54262a95b6 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-5cf9b1fa.js
  docs/_app/immutable/start-6c4c2e08.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: avoid a bug in playwright/test 1.23 in windows, simply by downgrading to 1.22.2
  package.json
  pnpm-lock.yaml
Due: prettier --write
