Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

:sparkles: feat: allow (finally) a correct two-way binding to the pane sizes
  README.md
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
  src/lib/index.ts
  src/routes/+page.svelte
  src/routes/examples/prog-resize/+page.svelte
Due: eslint, prettier --write

:sparkles: feat: support panes reordering by keyed each blocks, closes #35
  README.md
  src/lib/Splitpanes.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/examples/reordering-splitters/+page.svelte
  src/routes/examples/reordering-splitters/+page.ts
Due: eslint, prettier --write

fix: pane object not being returned
  src/lib/Splitpanes.svelte
Due: eslint

fix: pane object not being returned (#45)
  src/lib/Splitpanes.svelte
Due: eslint

chore(release): 0.7.7
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 0.7.8
  CHANGELOG.md
  package.json
Due: prettier --write

:truck: chore: commitlint
  .commitlintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

:truck: chore: remove gitmoji, it breaks
  .commitlintrc.cjs
Due: none

:truck: chore: remove commitlint-config-gitmoji
  package.json
Due: prettier --write

:memo: docs: fix CHANGELOG
  CHANGELOG.md
Due: prettier --write

build: remove the emojies generated in the commit title from \`cz-customizable\` console
  .cz-config.cjs
Due: none

chore: fix lock-file
  pnpm-lock.yaml
Due: none

build: use cz-customizable via commitizen, for fixing commiting issue on windows
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: allow to commit also outside `pnpm commit`
  .husky/pre-commit
  README.md
  package.json
Due: prettier --write

build: use `commitlint` correctly
  .commitlintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix lockfile
  pnpm-lock.yaml
Due: none

chore: add conventional PR check
  .github/workflows/conventional-pr.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@94736e943a743a55c0f72f00ce5696648b96a8bf 🚀
  docs/_app/immutable/chunks/10-f252860e.js
  docs/_app/immutable/chunks/14-1c8559fa.js
  docs/_app/immutable/chunks/15-802f40a3.js
  docs/_app/immutable/chunks/2-8233754c.js
  docs/_app/immutable/chunks/4-26c88d79.js
  docs/_app/immutable/chunks/5-4b9bdc33.js
  docs/_app/immutable/chunks/6-b1285559.js
  docs/_app/immutable/chunks/8-0e2c2fca.js
  docs/_app/immutable/chunks/9-82eedf88.js
  docs/_app/immutable/modules/pages/_page.ts-dc85b7cd.js
  docs/_app/immutable/modules/pages/examples/change-orientation/_page.ts-1f4d7490.js
  docs/_app/immutable/modules/pages/examples/default-size/_page.ts-1f4d7490.js
  docs/_app/immutable/modules/pages/examples/listen-to-events/_page.ts-1f4d7490.js
  docs/_app/immutable/modules/pages/examples/min-max/_page.ts-1f4d7490.js
  docs/_app/immutable/modules/pages/examples/prog-resize/_page.ts-1f4d7490.js
  docs/_app/immutable/modules/pages/examples/push-other-panes/_page.ts-1f4d7490.js
  docs/_app/immutable/modules/pages/examples/snap/simple/_page.ts-ed5d9d6c.js
  docs/_app/immutable/modules/pages/examples/styling/splitters/_page.ts-ed5d9d6c.js
  docs/_app/immutable/start-187cf273.js
  docs/_app/version.json
  docs/examples/add-remove-splitter.html
  docs/examples/change-orientation.html
  docs/examples/default-size.html
  docs/examples/listen-to-events.html
  docs/examples/lock-layout.html
  docs/examples/min-max.html
  docs/examples/prog-resize.html
  docs/examples/push-other-panes.html
  docs/examples/reordering-splitters.html
  docs/examples/snap/middle.html
  docs/examples/snap/min-max.html
  docs/examples/snap/simple.html
  docs/examples/styling/splitters-modern.html
  docs/examples/styling/splitters.html
  docs/examples/toggle-panes.html
  docs/index.html
  docs/introduction.html
  docs/test.html
  docs/vite-manifest.json
Due: eslint, prettier --write

chore: add name to the conventional PR workflow
  .github/workflows/conventional-pr.yml
Due: none

chore: add the missing types from conventional PR workflow
  .github/workflows/conventional-pr.yml
Due: none

chore: check also draft PR
  .github/workflows/conventional-pr.yml
Due: none

chore: check PR title instead, since it's much simpler
  .github/workflows/conventional-pr-title.yml
  .github/workflows/conventional-pr.yml
Due: none

chore: remove unneeded line from release-please action
  .github/workflows/release-please.yml
Due: none

build: use release-please method and doc it
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: fix readme line break
  README.md
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{css,scss,postcss,md,json}
