Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{js,ts,svelte}": "eslint",
    "*.{css,scss,postcss,md,json}": "prettier --write"
}

:green_heart: ci: make some steps to run even previous one had failed
  .github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@9edef2f69004dd2124c1d3eb88ee89480ec4ffbe 🚀
  docs/_app/immutable/start-3e90f50f.js
  docs/_app/immutable/start-72819c0c.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:construction_worker: build: omit \`svelte-kit sync\` from \`prepare\` script, since it runs on postinstall
  package.json
Due: prettier --write

:green_heart: ci: run SvelteKit Sync manually after install, not invoked for CI for some reason
  .github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@2c130bb29c8ad359971250748f4e5dfd4abeaa61 🚀
  docs/_app/immutable/start-18bbad77.js
  docs/_app/immutable/start-3e90f50f.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:recycle: refactor: reuse the computed \`containerComputedStyle\` instead of calculate it many times
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@de3a07c9825550f55ddfc802e29d106e9385f3be 🚀
  docs/_app/immutable/chunks/Pane-39380adc.js
  docs/_app/immutable/chunks/Pane-f35a75fe.js
  docs/_app/immutable/pages/index.svelte-aee9cf4d.js
  docs/_app/immutable/pages/test.svelte-21519ba0.js
  docs/_app/immutable/pages/test.svelte-547acd2a.js
  docs/_app/immutable/start-18bbad77.js
  docs/_app/immutable/start-da093dee.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

chore(release): 0.7.2
  CHANGELOG.md
  package.json
Due: prettier --write

:bug: fix: :bug: fix: :bug: fix: fix pnpm-lock
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@88f1c86ce1cf28cf17cf92999ed68684155c9e52 🚀
  docs/_app/immutable/chunks/Pane-39380adc.js
  docs/_app/immutable/chunks/Pane-8abbad13.js
  docs/_app/immutable/chunks/index-32dbe4dd.js
  docs/_app/immutable/chunks/index-3f0bd6f8.js
  docs/_app/immutable/chunks/index-632af6f3.js
  docs/_app/immutable/chunks/index-ead1d761.js
  docs/_app/immutable/error.svelte-a560ce1e.js
  docs/_app/immutable/error.svelte-d347f2dd.js
  docs/_app/immutable/pages/__layout.svelte-7d27c39f.js
  docs/_app/immutable/pages/__layout.svelte-fae19fe0.js
  docs/_app/immutable/pages/index.svelte-95ba6fc4.js
  docs/_app/immutable/pages/index.svelte-aee9cf4d.js
  docs/_app/immutable/pages/test.svelte-21519ba0.js
  docs/_app/immutable/pages/test.svelte-3e05e580.js
  docs/_app/immutable/start-395a2936.js
  docs/_app/immutable/start-da093dee.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:bug: fix: improve dragging precision drastically
  src/lib/Splitpanes.svelte
Due: eslint

:truck: chore: fix typo
  .husky/pre-commit
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@83a04daa8f4d7e8f8751e6731c0eb283d6a3af7b 🚀
  docs/_app/immutable/chunks/Pane-8abbad13.js
  docs/_app/immutable/chunks/Pane-e195061c.js
  docs/_app/immutable/pages/index.svelte-0643c1a8.js
  docs/_app/immutable/pages/test.svelte-3e05e580.js
  docs/_app/immutable/pages/test.svelte-6fc1f6ab.js
  docs/_app/immutable/start-1db2fb35.js
  docs/_app/immutable/start-395a2936.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:memo: docs: improve the example \`ProgResize\` to support floating numbers
  src/comp/ProgResize.svelte
Due: eslint

:memo: docs: add a button in the examples to toggle between RTL an LTR
  src/routes/index.svelte
Due: eslint

:green_heart: ci: simplify some workflow condition
  .github/workflows/release-please.yml
Due: none

:truck: chore: add type declerations for untyped external libraries
  src/comp/ProgResize.svelte
  src/type_decl.d.ts
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@8e1477806587db46ceffd4354f1b451e376825ab 🚀
  docs/_app/immutable/assets/index-4edbfbb5.css
  docs/_app/immutable/assets/index-e70802cb.css
  docs/_app/immutable/pages/index.svelte-0643c1a8.js
  docs/_app/immutable/pages/index.svelte-3e05b470.js
  docs/_app/immutable/start-1db2fb35.js
  docs/_app/immutable/start-8e7b428e.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:sparkles: feat: start working on #11
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
  src/lib/index.ts
  src/lib/internal/store.ts
Due: eslint

:memo: docs: fix issue of svelte-preproccess with styling in a string
  src/comp/StyleSplitters.svelte
  src/comp/StyleSplittersModern.svelte
Due: eslint

:sparkles: feat: add a class to the splitter, to indicate css when it's active
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
  src/lib/index.ts
Due: eslint

:memo: docs: fix an issue of overlap fighting with a near hovered splitter in the examples
  src/comp/StyleSplitters.svelte
  src/comp/StyleSplittersModern.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@2de44afbe816dd086aa6591e0d785984b2a2e937 🚀
  docs/_app/immutable/assets/index-18ff5e11.css
  docs/_app/immutable/assets/index-4edbfbb5.css
  docs/_app/immutable/chunks/Pane-5e1dcf63.js
  docs/_app/immutable/chunks/Pane-e195061c.js
  docs/_app/immutable/pages/index.svelte-3e05b470.js
  docs/_app/immutable/pages/index.svelte-aba25663.js
  docs/_app/immutable/pages/test.svelte-51ecc310.js
  docs/_app/immutable/pages/test.svelte-6fc1f6ab.js
  docs/_app/immutable/start-8e7b428e.js
  docs/_app/immutable/start-c7637921.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

chore(release): 0.7.3
  CHANGELOG.md
  package.json
Due: prettier --write

:memo: docs: :memo: docs: chore(release): 0.7.3
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@f056d66fd269fd3eb1b981b5989eff05c55deb58 🚀
  docs/_app/immutable/start-21588d21.js
  docs/_app/immutable/start-c7637921.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:construction_worker: build: export only \`indext.ts\` on packaging
  svelte.config.js
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@ce64c13784d7b7b7824fcc6da64117db923c9ea2 🚀
  docs/_app/immutable/start-198671f2.js
  docs/_app/immutable/start-21588d21.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

docs: escape tags
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@f40f8efd0daed5587362c8e37d941c2bf30ef734 🚀
  docs/_app/immutable/start-198671f2.js
  docs/_app/immutable/start-1b9a2747.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:truck: chore: update svelte\&kit, and use \`esm-env\` to detect if on browser
  package.json
  pnpm-lock.yaml
  src/comp/extras/PrerenderedArea.svelte
  src/lib/Pane.svelte
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/test/+page.svelte
  src/routes/test/+page.ts
  svelte.config.js
Due: eslint, prettier --write

:truck: chore: formatting
  src/routes/+layout.ts
  src/routes/+page.ts
  src/routes/test/+page.ts
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@af70fb0fd95e3e39fe692d7846c608338f20f068 🚀
  docs/_app/immutable/assets/_layout-22bee33f.css
  docs/_app/immutable/assets/_page-18ff5e11.css
  docs/_app/immutable/chunks/0-9fb9535a.js
  docs/_app/immutable/chunks/1-a6839dce.js
  docs/_app/immutable/chunks/2-46e6d897.js
  docs/_app/immutable/chunks/3-31e2a519.js
  docs/_app/immutable/chunks/Pane-54c3eab5.js
  docs/_app/immutable/chunks/Pane-5e1dcf63.js
  docs/_app/immutable/chunks/_layout-da46b06b.js
  docs/_app/immutable/chunks/_page-da46b06b.js
  docs/_app/immutable/chunks/_page-fca24c55.js
  docs/_app/immutable/chunks/index-2863e6aa.js
  docs/_app/immutable/chunks/index-32dbe4dd.js
  docs/_app/immutable/chunks/index-3387d65f.js
  docs/_app/immutable/chunks/index-3f0bd6f8.js
  docs/_app/immutable/chunks/singletons-b98a2abd.js
  docs/_app/immutable/components/error.svelte-4401c4fa.js
  docs/_app/immutable/components/pages/_layout.svelte-91f64087.js
  docs/_app/immutable/components/pages/_page.svelte-947fa05c.js
  docs/_app/immutable/components/pages/test/_page.svelte-075af5e7.js
  docs/_app/immutable/error.svelte-a560ce1e.js
  docs/_app/immutable/modules/pages/_layout.ts-9cbb603b.js
  docs/_app/immutable/modules/pages/_page.ts-dc85b7cd.js
  docs/_app/immutable/modules/pages/test/_page.ts-94291217.js
  docs/_app/immutable/pages/__layout.svelte-7d27c39f.js
  docs/_app/immutable/pages/index.svelte-aba25663.js
  docs/_app/immutable/pages/test.svelte-51ecc310.js
  docs/_app/immutable/start-1b9a2747.js
  docs/_app/immutable/start-2f81a318.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
  docs/vite-manifest.json
Due: eslint, prettier --write

:truck: chore: update dependency versions
  package.json
  pnpm-lock.yaml
  static/favicon.png
Due: prettier --write

chore(release): 0.7.4
  CHANGELOG.md
  package.json
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@5624fd7b5f8d452a06b5e6716e78972ef3bc130a 🚀
  docs/_app/immutable/assets/_page-10f3fed6.css
  docs/_app/immutable/assets/_page-18ff5e11.css
  docs/_app/immutable/chunks/2-46e6d897.js
  docs/_app/immutable/chunks/3-31e2a519.js
  docs/_app/immutable/modules/pages/_page.ts-dc85b7cd.js
  docs/_app/immutable/modules/pages/test/_page.ts-94291217.js
  docs/_app/immutable/start-2f81a318.js
  docs/_app/version.json
  docs/favicon.png
  docs/index.html
  docs/test.html
  docs/vite-manifest.json
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@cf9087c14854ad4308a0928d327f06e99fac1712 🚀
  docs/_app/version.json
  docs/index.html
  docs/test.html
  docs/vite-manifest.json
Due: prettier --write

:bug: fix: rEPL issue by using \`esm-env-robust\` instead
  package.json
  pnpm-lock.yaml
  src/lib/Pane.svelte
Due: eslint, prettier --write

:memo: docs: separate the doc pages and style a panel based on the style of \`kit.svelte.dev\`
  src/comp/Button.svelte
  src/comp/CodeArea.svelte
  src/comp/PrerenderedArea.svelte
  src/comp/Ripple.svelte
  src/comp/TextAreaAutosize.svelte
  src/routes/+layout.svelte
  src/routes/Contents.svelte
  src/routes/RTLToggle.svelte
  src/routes/ToggleButton.svelte
  src/routes/examples/add-remove-splitter/+page.svelte
  src/routes/examples/add-remove-splitter/+page.ts
  src/routes/examples/change-orientation/+page.svelte
  src/routes/examples/change-orientation/+page.ts
  src/routes/examples/default-size/+page.svelte
  src/routes/examples/default-size/+page.ts
  src/routes/examples/listen-to-events/+page.svelte
  src/routes/examples/listen-to-events/+page.ts
  src/routes/examples/lock-layout/+page.svelte
  src/routes/examples/lock-layout/+page.ts
  src/routes/examples/min-max/+page.svelte
  src/routes/examples/min-max/+page.ts
  src/routes/examples/prog-resize/+page.svelte
  src/routes/examples/prog-resize/+page.ts
  src/routes/examples/push-other-panes/+page.svelte
  src/routes/examples/push-other-panes/+page.ts
  src/routes/examples/snap/middle/+page.svelte
  src/routes/examples/snap/middle/+page.ts
  src/routes/examples/snap/min-max/+page.svelte
  src/routes/examples/snap/min-max/+page.ts
  src/routes/examples/snap/simple/+page.svelte
  src/routes/examples/snap/simple/+page.ts
  src/routes/examples/styling/splitters-modern/+page.svelte
  src/routes/examples/styling/splitters-modern/+page.ts
  src/routes/examples/styling/splitters/+page.svelte
  src/routes/examples/styling/splitters/+page.ts
  src/routes/examples/toggle-panes/+page.svelte
  src/routes/examples/toggle-panes/+page.ts
  src/routes/introduction/+page.svelte
  tests/addRemoveSplitter.spec.ts
Due: eslint

:truck: chore: remove an obsolete comment
  src/routes/+layout.svelte
Due: eslint
