Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

:white_check_mark: test: fixing the automated testing
  serve.json
  tests/addRemoveSplitter.spec.ts
Due: eslint, prettier --write

:bug: fix: path of a navigation link
  src/routes/+layout.svelte
Due: eslint

:memo: docs: improve naigation pane styling
  src/routes/+layout.svelte
  src/routes/Contents.svelte
  src/routes/RTLToggle.svelte
Due: eslint

:memo: docs: style the icon in the navigation pane
  src/routes/+layout.svelte
Due: eslint

:memo: docs: fix icon path
  src/routes/+layout.svelte
Due: eslint

:memo: docs: add prev\&next buttons
  src/routes/+layout.svelte
  src/routes/Contents.svelte
Due: eslint

:memo: docs: fix issue of flex shrinking of navigation pane
  src/routes/+layout.svelte
Due: eslint

:memo: docs: fix base path in prev\&next links
  src/routes/+layout.svelte
Due: eslint

:bug: fix: fixed favicon
  src/app.html
  src/routes/+layout.svelte
  static/favicon.svg
Due: eslint

:memo: docs: fix current path detecting issue
  src/routes/+layout.svelte
  src/routes/Contents.svelte
  src/routes/pathUtils.ts
Due: eslint

:memo: docs: minor styling fixings
  src/routes/+layout.svelte
Due: eslint

:memo: docs: improve layout on mobile
  src/routes/+layout.svelte
Due: eslint

:memo: docs: minor style improvements
  src/routes/+layout.svelte
  src/routes/Contents.svelte
Due: eslint

:bug: fix: return the dynamic browser check via \`typeof window \!== 'undefined'\`
  package.json
  pnpm-lock.yaml
  src/lib/Pane.svelte
Due: eslint, prettier --write

:bug: fix: wait one "JS timeout" frame before enabling transitions, to fix bad transitions on load
  src/lib/Splitpanes.svelte
Due: eslint

:recycle: refactor: fix typing and a direct pane value in the arrays in the paramaters of \`readjustSizes\`
  src/lib/Splitpanes.svelte
Due: eslint

:truck: chore: update deps, svelte is now 1.0x
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 0.7.5
  CHANGELOG.md
  package.json
Due: prettier --write

:sparkles: feat: simpler and more intuitive sizing after panes adding/removing
  src/lib/Pane.svelte
  src/lib/Splitpanes.svelte
  src/lib/index.ts
Due: eslint

:memo: docs: minor general layout styling improvment on the TOC head
  src/routes/+layout.svelte
Due: eslint

chore(release): 0.7.6
  CHANGELOG.md
  package.json
Due: prettier --write

:bug: fix: reimplement splitter double click expansion, fixes #44
  src/lib/Splitpanes.svelte
Due: eslint

:recycle: refactor: put shared code in the \`tickAndResetPaneSizes()\` func
  src/lib/Splitpanes.svelte
Due: eslint

:recycle: refactor: omit double variable
  src/lib/Splitpanes.svelte
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{css,scss,postcss,md,json}
