Repository orefalo/svelte-splitpanes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

:bug: fix: :bug: fix: double slider buttons in Pragrammtic resizeing demo
  src/comp/ProgResize.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@db0873472bd49552420c22b938ae6d495e99c713 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-8e02d1bf.js
  docs/_app/immutable/start-0db7686e.js
  docs/_app/immutable/start-e0527675.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:bug: fix: fix #31 - incorrect single pane width calculation when removing panes and resizing sliders
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@20c2c5638666c3809138bec7c64d2ef23e6b7ebc 🚀
  docs/_app/immutable/chunks/Pane-97d5e7d8.js
  docs/_app/immutable/chunks/Pane-bb30ca01.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-d6569804.js
  docs/_app/immutable/pages/test.svelte-8d204fb8.js
  docs/_app/immutable/pages/test.svelte-b494fa1d.js
  docs/_app/immutable/start-6ccee8d1.js
  docs/_app/immutable/start-e0527675.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: significally improve performance of the code area, simply by reused the (pre-)rendered component
  src/comp/AddRemoveSplitter.svelte
  src/comp/ChangeOrientation.svelte
  src/comp/DefaultSize.svelte
  src/comp/ListenToEvents.svelte
  src/comp/LockLayout.svelte
  src/comp/MiddleSnap.svelte
  src/comp/MinMax.svelte
  src/comp/MinMaxSnap.svelte
  src/comp/ProgResize.svelte
  src/comp/PushOtherPanes.svelte
  src/comp/SimpleSnap.svelte
  src/comp/StyleSplitters.svelte
  src/comp/StyleSplittersModern.svelte
  src/comp/TogglePanes.svelte
  src/comp/extras/CodeArea.svelte
  src/comp/extras/PrerenderedArea.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@78c86c9a7e1f47fd67600cbc1560ea8b3a3f2920 🚀
  docs/_app/immutable/chunks/Pane-25e798bd.js
  docs/_app/immutable/chunks/Pane-97d5e7d8.js
  docs/_app/immutable/chunks/index-6274fd6d.js
  docs/_app/immutable/chunks/index-6b9ed66e.js
  docs/_app/immutable/chunks/index-98fb7fd7.js
  docs/_app/immutable/chunks/index-f048e47e.js
  docs/_app/immutable/error.svelte-8f73d3d0.js
  docs/_app/immutable/error.svelte-94f96933.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/__layout.svelte-090b4114.js
  docs/_app/immutable/pages/__layout.svelte-09d7cbe6.js
  docs/_app/immutable/pages/index.svelte-533e2b3b.js
  docs/_app/immutable/pages/index.svelte-d6569804.js
  docs/_app/immutable/pages/test.svelte-8d204fb8.js
  docs/_app/immutable/pages/test.svelte-959c2103.js
  docs/_app/immutable/start-0050cb8e.js
  docs/_app/immutable/start-6ccee8d1.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:truck: chore: make the tests faster by serving the pre-rendered website
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  serve.json
Due: eslint, prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@fa32766bc9de81667cce33df385464984548b725 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-0050cb8e.js
  docs/_app/immutable/start-7cbe9cd3.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

chore(release): 0.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@9f0e66bb4bb65f42d6f5860bf2ca1bca4f4ede39 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-7cbe9cd3.js
  docs/_app/immutable/start-91732ffb.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@cdd42c150999a953f7fedc3a37f1c03c8495ee22 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-4e8e45d4.js
  docs/_app/immutable/start-91732ffb.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: make tab-size=4 of code area in docs
  src/routes/__layout.svelte
Due: eslint

:memo: docs: fix syntax in one example code area
  src/comp/ListenToEvents.svelte
Due: eslint

:truck: chore: update vscode project settings
  .vscode/settings.json
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@f4e1b852958b137058b464fa231fba09f7ee396c 🚀
  docs/_app/immutable/assets/pages/__layout.svelte-2d50f436.css
  docs/_app/immutable/assets/pages/__layout.svelte-5e52c37b.css
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/__layout.svelte-090b4114.js
  docs/_app/immutable/pages/__layout.svelte-128d1961.js
  docs/_app/immutable/pages/index.svelte-587fe2ad.js
  docs/_app/immutable/start-4e8e45d4.js
  docs/_app/immutable/start-89b12847.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:memo: docs: update readme - add details about typing and change example
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@c8cc4bc0b2632c0a15c5cac5a3b788f9a8feb0e6 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-0559239c.js
  docs/_app/immutable/start-89b12847.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

docs: fix the supported IE version on README.md
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@d7f1c5f9cf85a274616a1aca5bb973783b85e6a2 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-0559239c.js
  docs/_app/immutable/start-949c5e0d.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:bug: fix: fix issues with actual pane size when the given size is \`null\`
  src/lib/Pane.svelte
Due: eslint

:bug: fix: fix nested splitpanes CSS transition issues
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@a44cc5627f461de9b092989d62ec4fc7be36ca29 🚀
  docs/_app/immutable/assets/Pane-2369fef4.css
  docs/_app/immutable/assets/Pane-aff29d42.css
  docs/_app/immutable/chunks/Pane-25e798bd.js
  docs/_app/immutable/chunks/Pane-ea16e68c.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-4444f19b.js
  docs/_app/immutable/pages/test.svelte-6116ef71.js
  docs/_app/immutable/pages/test.svelte-959c2103.js
  docs/_app/immutable/start-3a9b45c4.js
  docs/_app/immutable/start-949c5e0d.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

add a better project description
  README.md
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@349f9b726c7113737cefc2e3369fc30116c4a0bc 🚀
  docs/_app/immutable/manifest.json
  docs/_app/immutable/start-3a9b45c4.js
  docs/_app/immutable/start-c20bf2be.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:bug: fix: omit console printing
  src/lib/Splitpanes.svelte
Due: eslint

:bug: fix: fix #16
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@5e32527840cbdad8fc6f7cd2c0b3648b5d1bc172 🚀
  docs/_app/immutable/chunks/Pane-c65e0f5d.js
  docs/_app/immutable/chunks/Pane-ea16e68c.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/index.svelte-ddc00758.js
  docs/_app/immutable/pages/test.svelte-54824092.js
  docs/_app/immutable/pages/test.svelte-6116ef71.js
  docs/_app/immutable/start-bf7ca449.js
  docs/_app/immutable/start-c20bf2be.js
  docs/_app/version.json
  docs/index.html
  docs/test.html
Due: eslint, prettier --write

:construction_worker: build: update SvelteKit, and seperate (as must) the configuration and the excecution of vite
  package.json
  pnpm-lock.yaml
  svelte.config.js
  vite.config.js
Due: eslint, prettier --write

:truck: chore: fix exec file mode of some hook
  .husky/commit-msg
Due: none

:construction_worker: build: allow to commit only by \`pnpm commit\`, via husky hook
  .husky/pre-commit
  package.json
Due: prettier --write

:green_heart: ci: fix pnpm lock file
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@519713e594e320ec364fe5df05aae8f65ca2ccb3 🚀
  docs/_app/immutable/assets/Pane-1d9c95ea.css
  docs/_app/immutable/assets/__layout-22bee33f.css
  docs/_app/immutable/assets/index-e70802cb.css
  docs/_app/immutable/chunks/Pane-210ab63f.js
  docs/_app/immutable/chunks/Pane-c65e0f5d.js
  docs/_app/immutable/chunks/index-632af6f3.js
  docs/_app/immutable/chunks/index-6b9ed66e.js
  docs/_app/immutable/chunks/index-98fb7fd7.js
  docs/_app/immutable/chunks/index-ead1d761.js
  docs/_app/immutable/error.svelte-8f73d3d0.js
  docs/_app/immutable/error.svelte-d347f2dd.js
  docs/_app/immutable/manifest.json
  docs/_app/immutable/pages/__layout.svelte-128d1961.js
  docs/_app/immutable/pages/__layout.svelte-fae19fe0.js
  docs/_app/immutable/pages/index.svelte-52bf610e.js
  docs/_app/immutable/pages/index.svelte-ddc00758.js
  docs/_app/immutable/pages/test.svelte-54824092.js
  docs/_app/immutable/pages/test.svelte-88c11ea2.js
  docs/_app/immutable/start-65162a7f.js
  docs/_app/immutable/start-bf7ca449.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:construction_worker: build: omit obsolete script
  package.json
Due: prettier --write

Deploying to gh-pages from @ orefalo/svelte-splitpanes@528a834dba6434fb2302b3ada48755503125e81f 🚀
  docs/_app/immutable/start-1b86d51d.js
  docs/_app/immutable/start-65162a7f.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:bug: fix: handle correctly the border sizes of the container if exists
  src/lib/Splitpanes.svelte
Due: eslint

Deploying to gh-pages from @ orefalo/svelte-splitpanes@378f6c4331e84655e1d7a20bc4d831d5430323c0 🚀
  docs/_app/immutable/chunks/Pane-210ab63f.js
  docs/_app/immutable/chunks/Pane-f35a75fe.js
  docs/_app/immutable/pages/index.svelte-584d6d62.js
  docs/_app/immutable/pages/test.svelte-547acd2a.js
  docs/_app/immutable/pages/test.svelte-88c11ea2.js
  docs/_app/immutable/start-1b86d51d.js
  docs/_app/immutable/start-f6845fb1.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:green_heart: ci: put workflows of ci in a single one
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
Due: none

Deploying to gh-pages from @ orefalo/svelte-splitpanes@482c586f3aa6cb1d680f299611870446b8f0f474 🚀
  docs/_app/immutable/start-72819c0c.js
  docs/_app/immutable/start-f6845fb1.js
  docs/_app/version.json
  docs/index.html
  docs/manifest.json
  docs/test.html
Due: eslint, prettier --write

:green_heart: ci: fix workflow name
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{css,scss,postcss,md,json}
